.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.APIimage {
  height: 250px;
  width: 250px;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
